{% extends 'base.html' %}
{% block title %}
    - Students
{% endblock %}


{% block content %}
        <h1 class="pageTitle">The students home page</h1>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            {% for student in allStudents %}
                <tr>
                    <td>{{ student.Id }}</td>
                    <td><a href="/student/{{ student.Id }}">{{ student.Name }}</a></td>
                </tr>
            {% endfor %}
            <!--<tr>
                <td>{{ student.Id }}</td>
                <td>{{ student.Name }}</td>
            </tr>-->

        </table>
{% endblock %}